
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

body{
display: flex;
justify-content: center;
align-items: center;
background: radial-gradient(#FF6E31, #AD8E70);
font-family: 'Mukta', sans-serif;
}


.container{
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
}


.ui{
background-color: #497174;
border-radius: 30px;
height:350px;
width: 350px;
text-align: center;

}




button{

width: auto;


}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #FF6E31
}